.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto;
  max-width: 100%;
  overflow-x: hidden;
}

main {
  text-align: center;
  width: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}