.side-menu {
    border: solid black 1px;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

ul {
   list-style-type: none; 
   padding-left: 20px;
}

ul > li {
    padding: 5px;
}

.logout {
    margin-top: 3rem;
}